:root {
  --bg-background-primary: #172940;
  --bg-background-secondary: #dceef2;

  --bg-background-form: #ffffff;

  --text-copy-primary: #A7D5F2;
  --text-copy-secondary: #5095bf;

  --text-copy-hover: #5095bf;
  --border-border-color-primary: #A7D5F2;

  .iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;

    iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
   }
  }
}
