:root {
  //colour palette
  --bg-background-primary: #172940;
  --bg-background-secondary: #dceef2;

  --bg-background-form: #ffffff;

  --text-copy-primary: #A7D5F2;
  --text-copy-secondary: #5095bf;

  --text-copy-hover: #5095bf;
}
